<div>
    <div>
        <b>Summarize:</b> {{ summarize._coverage.name }}
    </div>
    

    <br/>
    

    <!-- Print the timeline -->
    <div>
        <b>timeline</b>
    </div>
    <div>
        <select id="timeline" size="10">
        {% for d in summarize.timeline -%}
            <option value="{d}">{{ d }}</option>
        {%- endfor %}
        </select>
    </div>
    
    
    <br/>


    <div>
        <b>Summarize:</b>
    </div>
    <!-- Print the table for each attribute -->
    {% for attr_name in summarize.attributes -%}
    <div>
        <div>
            <b>{{ attr_name }}</b>
        </div>
        <table>
            <!-- Set the columns names -->
            <tr>
                <th>datetime</th>
                {% for aggregation in summarize.aggregations -%}
                    <th>{{ aggregation }}</th>
                {%- endfor %}
            </tr>

            <!-- The table data will contain a maximum of 5 items -->
            {% for datetime in summarize.timeline -%}
                {% set outer_loop = loop %}
                <tr>
                    {% if outer_loop.index0 < 5 %}
                        <td>{{ datetime }}</td>
                        {% for aggregation in summarize.aggregations -%}
                            <td>{{ summarize.values(attr_name).values(aggregation)[outer_loop.index0] }}</td>
                        {%- endfor %}

                    {% elif outer_loop.index0 == 5 %}
                        <td>...</td>
                        {% for aggregation in summarize.aggregations -%}
                            <td>...</td>
                        {%- endfor %}

                    {% endif %}
                </tr>
            {%- endfor %}
            </tr>
        </table>
    </div>
    <br/>
    {%- endfor %}
</div>